iface lo inet static
	address {{ internal_v4 }}

	up ip -4 rule add to 10.0.0.0/8 prio 500 lookup ffslfl
	down ip -4 rule del to 10.0.0.0/8 prio 500 lookup ffslfl

        #DN42
	up ip -4 rule add to 172.20.0.0/14 prio 500 lookup ffslfl
	down ip -4 rule del to 172.20.0.0/14 prio 500 lookup ffslfl

iface lo inet6 static
	address {{ internal_v6 }}

	up ip -6 rule add to fc00::/7 prio 500 lookup ffslfl
	down ip -6 rule del to fc00::/7 prio 500 lookup ffslfl
